* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-image {
    width: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 15px;
}
h2 {
    color: black;
}
h2:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.container {
    width: 380px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    border: 2px solid hsl(0, 0%, 7%);
    font-family: 'Inter', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
}
.head {
    background-color:  hsl(47, 88%, 63%);
    font-weight: 600;
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
}
.author-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding: 0 20px; */
}
.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.para {
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
    font-weight: 500;
}